<div id="account_details">
    <table>
        
         <tr>
            <td class="account_details_label">{account_details_pid}</td>
            <td class="account_details_value_bold">{patientId}</td>
        </tr>
        <tr>
            <td class="account_details_label">{account_details_age}</td>
            <td class="account_details_value_bold">{age}</td>
        </tr>
        <tr>
            <td class="account_details_label">{account_details_gender}</td>
            <td class="account_details_value_bold">{gender}</td>
        </tr>
        <tr>
            <td class="account_details_label">{account_details_admit_date}</td>
            <td class="account_details_value_bold">{admitDate}</td>
        </tr>
        <tr>
            <td class="account_details_label">{account_details_discharge_date}</td>
            <td class="account_details_value_bold">{dischargeDate}</td>
        </tr>
        <tr>
            <td class="account_details_label">Transfer Date</td>
            <td class="account_details_value_bold">{transferDate}</td>
        </tr>
        <tr>
            <td class="account_details_label">{account_details_patient_type}</td>
            <td class="account_details_value_bold">{patTypeWithDescription}</td>
        </tr>
        <tr>
            <td class="account_details_label">{account_details_payer_code}</td>
            <td class="account_details_value_bold">{insurance}</td>
        </tr>
        <tr>
            <td class="account_details_label">{account_details_payer_name}</td>
            <td class="account_details_value_bold">{insuranceName}</td>
        </tr>
    </table>
</div>