<div id="header">
    <!-- <table class="header_table">
        <tbody>
            <tr align="left">
                <td width="220">
                    <img id="home" src="common/images/landing_page actual_Logo_name.png"></td>
                
                <td width="600" align="right" valign="bottom">
                    <label id="header_welcome">{header.welcome} {fullUserName}</label>
					
					<a href="#" id="header_user_management">{header.header_user_management}</a>	
					
                    <a href="#" id="header_change_password">{header.header_change_password}</a>

                    <a href="javascript:logout('{logoutUri}','{guvnorUri}');"  id="header_logout">
                       {header.header_logout}
                    </a>
                </td>
            </tr>
        </tbody>
    </table> -->

    <div style="width:100%">
        <div style="margin-left: 16%;float: left">
            <img id="home" src="common/images/landing_page actual_Logo_name.png">
        </div>

        <div style="float: right;margin-right: 19%;margin-top: 0.5%;color: #337ab7;font-weight: bold">
            <img id="home" src="common/images/physcian.png" style="width: 30px;height: 30px;margin-top:8px ">
            <label id="header_welcome" >{header.welcome}</label><span style="margin-top: 24px;
    margin-left: -52px;float: right;width: 115px"> {fullUserName}</span>
        </div>

        

        <div style="float: right; margin-right: -25.7%;font-weight: bold" id="header_change_password">
            <img id="home" src="common/images/password.png" style="width: 30px;height: 30px">
            <a href="#" id="header_change_password">{header.header_change_password}</a> 
        </div>

        <div style="float: right;margin-right: -21.2%;margin-top:3%;font-weight: bold" id="header_logout">
            <img id="home" src="common/images/logout.png" style="width: 30px;height: 30px">
            <a href="javascript:logout('{logoutUri}','{guvnorUri}');"  >
                       {header.header_logout}
                    </a> 
        </div>

        <div style="float: right;width: 142px;margin-top: 15px;margin-right: 41px;" id="header_user_management">
            <img id="home" src="common/images/team_Management.png" style="width: 30px;height: 30px">     
            <a href="#" >{header.header_user_management}</a> 
        </div>

    </div>


    <div id="main_menu" >

  	</div>
  	<div id="sub_menu">

  	</div>
</div>
