        <div class="performance_comparison_chart">

            <div class="performance_comparison_chart_main_wrapper">
                <div class="performance_comparison_chart_main">
                    <div class="performance_comparison_chart_main_heading">{divisionName}</div>
                    <div class="performance_comparison_chart_main_value">{chartValue1} ({chartValue2})</div>
                    <div class="performance_comparison_chart_main_chart"></div>    
                </div>
                <div class="performance_comparison_chart_expand_arrow arrow_down_background"></div>
            </div>

            <div class="performance_comparison_chart_subcharts_wrapper">

            </div>

        </div>
