<tr style="vertical-align: baseline">
    <td class="account_details_code physiciancode" title="<b>Name: </b>{name}<br>
	<b>NPI: </b>{npi}<br>
	<b>Start Date: </b>{startDate}<br>
	<b>Termination Date: </b>{terminationDate}<br>
	<b>Speciality: </b>{type}">{physicianType} </td>
    <td class="account_details_code_value physiciancode" data-log={isEmployed} title="<b>Name: </b>{name}<br>
	<b>NPI: </b>{npi}<br>
	<b>Start Date: </b>{startDate}<br>
	<b>Termination Date: </b>{terminationDate}<br>
	<b>Speciality: </b>{type}">{name}
    </td>
</tr>

