<div class="outer_top_procedure_widget">
		        <h3>{heading1}</h3>
	<div class="top_procedure_widget">
			<div>
	        	<span class="performance_comparison_header_label">{subheading}</span><!-- <a href="#" class="top_five_view_more">{view_more}</a> -->
	        </div>
	         <div class="export_div">
	   			<input type="button"  class="export_div_print">
<!-- 				<input type="button"  class="export_div_download">
 -->	 	     </div>
	
	        <div class="top_five_chart"></div>
	
	</div>
</div>

