<div class="outer_top_five_widget1">
		        <h3>{heading1}</h3>
	<div class="top_five_widget1">
			<div>
	        	<span class="performance_comparison_header_label">{subheading}</span><a href="#" class="top_five_view_more">{view_more}</a>
	        </div>
	         <div class="export_div">
	   			<input type="button"  class="export_div_print">
				<input type="button"  class="export_div_download">
	 	     </div>
	
	        <div class="top_five_chart"></div>
	
	</div>
</div>

<div class="outer_top_five_widget2">
		        <h3>{heading2}</h3>
	<div class="top_five_widget2">
			<div>
		     	<span class="performance_comparison_header_label">{subheading}</span><a href="#" class="top_five_view_more">{view_more}</a>
		     </div>	
	        <div class="export_div">
	   			<input type="button"  class="export_div_print">
				<input type="button"  class="export_div_download">
	 	    </div>
	
	        <div class="top_five_chart"></div>
	
	</div>
</div>