<div class="search_rule_header">
			<input type="button" id="search_rule_icon" style="float: right;">
			<input id="search_rule_code" type="text" value="Search Rule Name">
</div>

<div id="rule_grid" style="float: left; margin: 20px 0 0 18px; margin-top:53px; margin-left:10px;">
       <table id="auditor_queue_grid_table"></table>
       <div id="prebill_grid_pager"></div>

</div>

<div class="account_details_btn" >
        	
        	<button id="submit_priority_detail_data" style="display: initial;">
                  	<span class="button_text" id="">Update Priority</span>
          </button>

          <button id="submit_assigned_rule_data" style="display: initial;">
                    <span class="button_text" id="">Assign Auditor Queues</span>
          </button>
            
        	
</div>

<!-- <div align="center">
   	<button id="rule_summary_download_excel" style="display:none;margin-top:10px">
          <span class="button_text" id="">Download Rules</span>
     </button>
   
</div>
 -->
