<div id="filters_wrapper"></div>
<div id="confirm_charges_grid">
   <table id="confirm_charges_grid_table"></table>
   <div id="confirm_charges_grid_pager"></div>
   <div align="center">
   <button id="confirm_charges_download_excel" class="fileDownloadCustomProgressBar">
	          <span class="button_text" id="">{download_excel_label}</span>
    </button>    
   </div>
   
   
   <div id="preparing-file-modal" class="loading-dialog" title="Preparing report..." style="display: none;">
   
            {progress_bar_waiting_message}

			<div class="loading-image"></div>
			
   </div>

   <div id="error-modal" title="Error" style="display: none;">
            {progress_bar_error_message}
   </div>
   
</div>
