<div id="summary_chart_wrapper">
</div>

<div id="filters_wrapper">
</div>

  
  <div class="facility_performance_grid_title_div">
	<h3 id="grid_title"></h3>
  </div>
  
  <div class="export_div" style="margin-top:25px">
   		<input type="button" class="export_div_print">
		<input type="button" class="export_div_download">
  </div>
  
 <div id="export_options">
  	<div id="export_options_div">
  		<input type="button" class="download_report_menu_pdf" id="download_pdf">
  		<input type="button" class="download_report_menu_excel" id="download_excel">
  	</div>
 </div>
	

<div id="facility_performance_chart">
	<div id="facility_performance_grid_div" class="grid_pager_div">
		<table id="facility_performance_chart_table"></table>
	</div>
</div> 

       <div id="preparing-file-modal" class="loading-dialog" title="Preparing report..." style="display: none;">
   
            {progress_bar_waiting_message}

			<div class="loading-image"></div>
			
   		</div>

	   <div id="error-modal" title="Error" style="display: none;">
	            {progress_bar_error_message}
	   </div>

              