<div id="prebill_header">
	<div class="bill_account_wrapper_left">
		<div class="month_name_wrapper">
			<label id="curr_month_date_label" class="month_name_label"></label>
		</div>
		
		<div>
			
			<div class="amount_found_wrapper">
				<label class="amount_found_label">{account_amount_found}</label>
			</div>
			
			<div class="amount_value_wrapper">
				<label id="amount_value_label_curr_month" class="amount_value_label"></label>
			</div>
			
			<div class="bill_hit_chart_wrapper">
				<div class="bill_hit_chart_title">
					<label class="bill_hit_chart_label">{account_hit_rate}</label>
					<label id="curr_hit_chart_value" class="bill_hit_chart_value"></label>
				</div>
				
				<div id="bill_hit_chart_container">
				</div>
			
			</div>
			
			<div class="bill_review_chart_wrapper">
				<div class="bill_hit_chart_title">
					<label class="bill_hit_chart_label">{account_review_rate}</label>
					<label id="curr_review_chart_value" class="bill_hit_chart_value"></label>
				</div>
				
				<div id="bill_review_chart_container">
				</div>
			
			</div>
			
			<div></div>
			
		</div>
		
	</div>

	
	<div class="bill_account_wrapper_right">
		<div class="month_name_wrapper">
			<label id="last_month_date_label" class="month_name_label"></label>
		</div>
		
		<div>
			
			<div class="amount_found_wrapper">
				<label class="amount_found_label">{account_amount_found}</label>
			</div>
			
			<div class="amount_value_wrapper">
				<label id="amount_value_label_prev_month" class="amount_value_label"></label>
			</div>
			
			<div class="bill_hit_chart_wrapper">
				<div class="bill_hit_chart_title">
					<label class="bill_hit_chart_label">{account_hit_rate}</label>
					<label id="prev_hit_chart_value" class="bill_hit_chart_value">100%</label>
				</div>
				
				<div id="bill_hit_chart_container_last_month">
				</div>
			
			</div>
			
			<div class="bill_review_chart_wrapper">
				<div class="bill_hit_chart_title">
					<label class="bill_hit_chart_label">{account_review_rate}</label>
					<label id="prev_review_chart_value" class="bill_hit_chart_value">10%</label>
				</div>
				
				<div id="bill_review_chart_container_last_month">
				</div>
			
			</div>
			
			<div></div>
			
		</div>
	</div>
	
	
	<div class="selected_facility_wrapper">
		
		<div class="selected_facility_label_wrapper">
			<label class="selected_facility_label">Facility:</label>
		</div>
		
		<div class="selected_facility_value_wrapper">
			<label class="selected_facility_value"></label>
		</div>
		
		<div class="selected_facility_name_wrapper">
			<label class="selected_facility_name"></label>
		</div>
		
		<div class="selected_facility_total_account_wrapper">
			<label id="selected_total_account_value"></label>
		</div>
		
		<div class="selected_facility_total_account_wrapper">
			<label id="selected_completed_account_value"></label>
		</div>
		
		<div id="selected_facility_total_account_chart"></div>
		
		<div class="selected_facility_ramaining_account_wrapper">
			<label id="selected_remaining_account_value"></label>
		</div>
		
		
	</div>
	
	<!-- <div class="search_missing_header">
			<input type="button" id="search_missing_icon" style="float: right;">
			<input id="search_missing_code" type="text" value="Search top Service line">
	</div> -->
	
</div>



<!-- <div style="padding-right:0px;margin-right:0px;margin-top:15px;">
    <button id="scrollBth" style="height:20px;width:20px;" class="glyphicon glyphicon-arrow-left"></button>
</div>  -->


<div id="filters_wrapper" class="filters_wrapper_style">
</div>


<!-- <div id="prebill_grid" class="prebill_grid_style" style="display: none;">
	<label id="auditor_selected_facility_label"></label>
       <table id="prebill_grid_table" style="width:100%"></table>
       <div id="prebill_grid_pager"></div>
    
</div> -->




<div id="prebill_gridPQ" class="prebill_grid_style" >
	<label id="auditor_selected_facility_label"></label>

     <table id="prebill_grid_tablePQ" style="width:100%"></table>
    
</div>

              
              
          