<div id="summary_chart_wrapper">
</div>

<div id="filters_wrapper">
</div>

<!-- <div id="outer_alert_div">
	<label class="dashboard_alert_label">{dashboard_screen_latest_updates}</label>
	<div id="alert">
	    <table></table>
	</div>
</div>
 -->
<div id="outer_performance_comparison_widget">
	<h3>{dashboard_screen_performance_comparison}</h3>
		<div id="performance_comparison_widget">
			<div class="dashboard_chart_header_div">
				  <div class="performance_comparison_header_label">{performance_comparison_header_label}</div>
<!-- 				  <a href="#" style="margin-left: 18px" class="top_five_view_more">{dashboard_screen_view_more}</a>
 -->			</div>
		 
		    <div class="export_div">
		   		<input type="button" class="export_div_print">
<!-- 				<input type="button" class="export_div_download">
 -->		    </div>
		    
		    <div id="performance_comparison_widget_charts">
		       
		    </div>
		
		    <div id="performance_comparison_widget_mainchart"></div>
		</div>
</div>

<div id="outer_overall_trends_widget">
		<div class="dashboard_chart_header_div">
			<h3>{dashboard_screen_overall_trends}</h3>
		</div>
	<div id="overall_trends_widget">
		<div class="dashboard_chart_header_div">
			<div class="performance_comparison_header_label">{performance_comparison_header_label_trend}</div>
		</div>
		<div class="export_div">
	   		<input type="button"  class="export_div_print">
<!-- 			<input type="button"  class="export_div_download">
 -->	    </div>
	    
	    <div id="overall_trends_widget_chart"></div>
	</div>
</div>


<div id="top_five_widget_wrapper">

</div>




