<!-- 
<div class="auditor_assignment_header">
<h3>AUDITOR ASSIGNMENT</h3>
<input id="search_auditor" type="text" value="Search Auditor">
<div class="search_icon_holder"><input type="button" id="search_auditor_icon"></div>
</div>
 -->









<div class="bs-example" style="margin-top: 20px">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Auditor Assigment</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="auditor_assignment_header" style="margin-left: 45px;margin-top: -10px;margin-bottom: 10px;">
						<h3>AUDITOR ASSIGNMENT</h3>
						<input id="search_auditor" type="text" value="Search">
						<div class="search_icon_holder"><input type="button" id="search_auditor_icon"></div>
					</div>

                    <div id="auditor_assignment_grid" style="margin-left: 40px;">
						   <table id="auditor_assignment_grid_table"></table>
						   <div id="auditor_assignment_grid_pager"></div>
					</div>
					<div id="auditor_assignment_footer" style="float: right;margin-right: 40px;">
						<button id="auditor_assignment_submit" style="margin-top: 10px;margin-bottom: 10px;">
						          <span class="button_text" id="">{submit_label}</span>
						</button>
						<button id="auditor_assignment_reset" style="margin-top: 10px;margin-bottom: 10px;">
						          <span class="button_text" id="">{reset_label}</span>
						</button>
					</div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">View Code Assigment</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div id="auditor_assignment_Breakup_grid" style="margin-left: 40px; margin-top: 20px;margin-bottom: 20px">
						   <table id="auditor_assignment_Breakup_grid_table"></table>
						   <div id="auditor_assignment_Breakup_grid_pager"></div>
				</div>
            </div>
        </div>
        
    </div>
</div>




