
<div class="report_user_assignment_header">
<h3>REPORT USER ASSIGNMENT</h3>
<input id="search_auditor" type="text" value="Search Facility">
<div class="search_icon_holder"><input type="button" id="search_auditor_icon"></div>
</div>



<div id="auditor_assignment_grid">
   <table id="auditor_assignment_grid_table"></table>
   <div id="auditor_assignment_grid_pager"></div>
</div>

<div id="auditor_assignment_footer">
<button id="auditor_assignment_submit">
          <span class="button_text" id="">{submit_label}</span>
</button>
<button id="auditor_assignment_reset">
          <span class="button_text" id="">{reset_label}</span>
</button>
</div>