

<div class="new_rule_content" style="margin-left: 15px;width: 100%; height:100%;min-height: 200px;">

			<div style="width: 100%; margin-top: 20px;">
				<label style="font-weight:bold; font-size: 18px;">Auditor Queue Details</label>
			</div>
			<form action="" id="new_rule_form" style="margin-top:10px;height:auto;min-height: 200px;">
				

				<table  style="float: left;height: 100%" class="rule_management_table">

					<tr>
						<td style="font-weight: bold;">Queue Name<span class="user_management_mandatory">*</span></td>
						<td><input id="txtRuleName" type="text" class="user_management_table_input" maxlength="50" style="width:250px" disabled="disabled"></td>
						<td style="font-weight: bold;">Description<span class="user_management_mandatory"></span></td>
						<td><input id="txtRuleDesc" type="text" class="user_management_table_input" style="width:250px" disabled="disabled"></td>
					</tr>

					<tr>
						<td style="font-weight: bold;">Auditor Id<span class="user_management_mandatory">*</span></td>
						<td>
							<select  id="auditors_queue_list" data-placeholder="Select Auditors" style="width:255px;" multiple class="chosen-select" tabindex="8">
					           
					          </select>
						</td>
						<td style="font-weight: bold;">Active<span class="user_management_mandatory"></span></td>
						<td><input type="checkbox" name="ruleActive" value="1" disabled="disabled"></td>

					</tr>

					<tr>
						<td style="font-weight: bold;">Account Bill Type<span class="user_management_mandatory"></span></td>
						<td>
						 <select id="filter_table_select" class="text_blue" style="height:25px;font-family: arial" disabled="disabled"><option value="000">000</option></select>
						</td>
						<td style="font-weight: bold;">Both bill types</td>
						<td><input type="checkbox" name="bothBillType" value="1" disabled="disabled"></td>

					</tr>

				</table>


				
				<!-- <table  style='float:left' class="rule_management_table" >

					<tr>
						<td style="font-weight: bold;">Description<span class="user_management_mandatory"></span></td>
						<td><input id="txtRuleDesc" type="text" class="user_management_table_input" style="width:250px"></td>
					</tr>
					<tr>

						<td style="font-weight: bold;">Active<span class="user_management_mandatory"></span></td>
						<td><input type="checkbox" name="ruleActive" value="1"></td>

					</tr>

					<tr>

						<td style="font-weight: bold;">Both bill types</td>
						<td><input type="checkbox" name="bothBillType" value="1"></td>

					</tr>

				</table> -->

			</form>

</div>



<div style="width: 100%; margin-top: 30px;clear: both;float: left">
				<label style="font-weight:bold; font-size: 18px;margin-left: 15px;">Rule Conditions</label>
</div>

<div class="container" style="width:100%;margin: 0 auto;margin-top:10px;clear: both;float: left">
    <div id="builder1"></div>

    <div class="btn-group" style="display: none;">
      <button class="btn btn-warning reset">Reset</button>
      <button class="btn btn-success set">Set rules</button>
    </div>

    <div class="btn-group" style="float: right; margin-top: 5px;">
      <!-- <button class="btn btn-default" disabled style="display: none;margin-left:5px;">Get:</button>
      <button class="query_btn parse-clone-builder1" style="margin-right:5px;">CLONE</button>
      <button class="query_btn parse-preview-builder1" style="margin-right:5px;">PREVIEW</button>
      <button class="query_btn parse-json-builder1">JSON</button>
      <button class="query_btn parse-sql-builder1" data-target="builder1" data-stmt="false" style="margin-left: 5px;">SQL</button> -->
      <button class="query_btn submit-json-builder1" style="margin-left: 5px;">SUBMIT</button>
    </div>

</div>



<div id="dialog" title="Basic dialog">
  <p style="height:100%;width:100%"></p>
</div>

<!-- added for showing progress bar -->

<div id="preparing-file-modal" class="loading-dialog" title="Preparing report..." style="display: none;">
   
            {progress_bar_waiting_message}

			<div class="loading-image"></div>
			
</div>

<div id="error-modal" title="Error" style="display: none;">
            {progress_bar_error_message}
</div>

<!-- added for showing progress bar -->
