

<h3>{dashboard_filter_heading}</h3>
<div id="filter_sub_div">	
    <!-- <div id="filter_audit_type" class="filter_block">
        <div class="filter_heading">{dashboard_filter_subheading1}</div>
        <ul>
            <li><input type="radio" name="billType" value="PRE" checked="checked">{dashboard_filter_pre_bill}</li>
            <li><input type="radio" name="billType" value="POST">{dashboard_filter_post_bill}</li>
            <li><input type="radio" name="billType" value="OVERALL">{dashboard_filter_overall_bill}</li>
        </ul>
    </div>
    
    <div id="filter_hit_type" class="filter_block">
        <div class="filter_heading">{dashboard_filter_subheading6}</div>
        <ul>
            <li><input type="radio" name="hitType" value="A" checked="checked">{dashboard_filter_auditor_hit}</li>
            <li><input type="radio" name="hitType" value="H">{dashboard_filter_hospital_hit}</li>
            
        </ul>
    </div>

    <div id="filter_metric_type" class="filter_block">
        <div class="filter_heading">{dashboard_filter_subheading5}</div>
        <ul>
            <li><input type="radio" name="metricType" value="reviewRate" checked="checked">{performance_comparison_metric_value1}</li>
            <li><input type="radio" name="metricType" value="foundPerDay">{performance_comparison_metric_value2}</li>
        </ul>
    </div> -->

    <div id="filter_time_period" class="filter_block">
        <div class="filter_heading">{dashboard_filter_subheading2}</div>

        <ul>
            <li><input type="radio" name="period" value="0">{dashboard_filter_time_period_selector_value0}</li>
            <li><input type="radio" name="period" value="1">{dashboard_filter_time_period_selector_value1}</li>
            <li><input type="radio" name="period" value="2" checked="checked">{dashboard_filter_time_period_selector_value2}</li>
            <li><input type="radio" name="period" value="3">{dashboard_filter_time_period_selector_value3}</li>
            <li><input type="radio" name="period" value="4">{dashboard_filter_time_period_selector_value4}</li>
            <li><input type="radio" name="period" value="5">{dashboard_filter_time_period_selector_value5}</li>
            <li><input type="radio" name="period" value="6">{dashboard_filter_time_period_selector_value6}</li>
            <li><input type="radio" name="period" value="7">{dashboard_filter_time_period_selector_value7}</li>
            <li><input type="radio" name="period" value="8">{dashboard_filter_time_period_selector_value8}</li>
            <li><input type="radio" name="period" value="9">{dashboard_filter_time_period_selector_value9}</li>
        </ul>
    </div>


    <!-- <div id="filter_cost_center" class="filter_block">
        <div class="filter_heading">Cost Center</div>
        <div id="outer_filter_wrapper_cost">
            <div id="selected_facility_count_cost"></div>
            <div>
                <input type="checkbox" name="ALL" value="ALL" checked="checked">{dashboard_filter_all}
            </div>
        </div>
    </div> -->

     <div id="filter_multiselect_auditor" class="filter_block">
        <div class="filter_heading">Cost Center</div>
         <div id="outer_filter_wrapper_auditor">
            <div id="selected_auditor_count"></div>
            <div>
                <input type="checkbox" name="ALLCostCenter" value="ALLCostCenter" checked="checked">{dashboard_filter_all}
            </div>
        </div>

    </div>

    <div id="filter_divisions" class="filter_block">
        <div class="filter_heading">{dashboard_filter_subheading3}</div>
        <div id="outer_filter_wrapper">
	    	<div id="selected_facility_count"></div>
	    	<div>
                <input type="checkbox" name="ALL" value="ALL" checked="checked">{dashboard_filter_all}
	    	</div>
    	</div>
    </div>

    <div id="filter_auditors" class="filter_block">
        <div class="filter_heading">{dashboard_filter_subheading4}</div>
        <div id="filter_auditors_label">
        	 <select id="filter_auditors_select" class="text_blue">
            	<option value="000">000</option>
       		 </select>
        </div>
       
    </div>
    
    
    
 
    <div id="filter_update_button">
        {dashboard_filter_update}
    </div>
</div>   
