<div id="dashboard_lastupdate_div">
	<label id="lastupdate_label"></label>
</div>


<div id="summary_chart_main_wrapper">

	<div id="summary_chart_current_month_charge_found">
		<div class="curr_month_header">
			<div class="curr_month_header_wrapper">
				<label id="curr_month_label"></label></div>
			<div class="curr_month_charge_wrapper">
				<label id="curr_month_charge_found_label">{summary_chart_gross_missing_charge}</label>
			</div>
		</div>
		<div class="curr_month_header_amount">
			<label id="curr_month_label_amount"></label>
		</div>
		<div class="curr_month_chart_wrapper">
			<div id="curr_month_review_rate_wrapper">
				<div>
					<label class="curr_month_chart_review_rate_label">{summary_chart_review_rate}</label>
					<label id="curr_month_chart_review_rate_value"></label>
				</div>
				<div id="curr_month_review_chart">
					<div id="curr_month_review_rate" class="current_month_review_rate_chart"></div>
				</div>
			</div>
			
			<div id="curr_month_hit_rate_wrapper">
				<div class="curr_month_chart_label">
					<label class="curr_month_chart_hit_rate_label">{summary_chart_hit_rate}</label>
					<label id="curr_month_chart_hit_rate_value"></label>
				</div>
				<div id="curr_month_hit_chart">
					<div id="curr_month_hit_rate" class="current_month_hit_rate_chart"></div>
				</div>
			</div>
		</div>
	
	</div>
	
	
	
	<div id="summary_chart_middle_wrapper">
		<div id="summary_chart_middle_wrapper_last_month_charge_found">
			<div class="summary_chart_last_month_label_wrapper">
				<div style="width: 230px;">
				<label id="summary_chart_last_month_label_text"></label>
				</div>
				<div id="summary_chart_last_month_label_wrapper">
				<label class="summary_chart_last_month_label_value">{summary_chart_gross_missing_charge1}</label>	
				</div>
			</div>
			<div id="summary_chart_last_month_value_wrapper">
				<label id="summary_chart_last_month_value_amount"></label>
			</div>
			
			<div class="summary_chart_last_month_chart_wrapper">
				<div id="summary_chart_last_month_review_rate_wrapper">
					<div class="last_month_chart_label">
						<label class="last_month_chart_review_rate_label">{summary_chart_review_rate}</label>
						<label id="last_month_chart_review_rate_value"></label>
					</div>

						<div id="last_month_review_rate" class="last_month_review_rate_chart"></div>

				</div>
				
				<div id="summary_chart_last_month_hit_rate_wrapper">
					<div class="last_month_chart_label">
						<label class="last_month_chart_review_rate_label">{summary_chart_hit_rate}</label>
						<label id="last_month_chart_hit_rate_value"></label>
					</div>
						<div id="last_month_hit_rate" class="last_month_hit_rate_chart"></div>
				</div>
		</div>
		</div>
		<div id="summary_chart_middle_wrapper_year_to_date_charge_found">
				
				<div class="summary_chart_last_month_label_wrapper">
				<div style="width:100px;">
				<label id="summary_chart_last_month_label_text">{summary_chart_year_to_date}</label>
				</div>
				<div id="summary_chart_last_month_label_wrapper">
				<label class="summary_chart_last_month_label_value">{summary_chart_gross_missing_charge1}</label>	
				</div>
			</div>
			<div id="summary_chart_last_month_value_wrapper">
				<label id="summary_chart_year_date_value_amount"></label>
			</div>
			
			<div class="summary_chart_last_month_chart_wrapper">
				<div id="summary_chart_last_month_review_rate_wrapper">
					<div class="last_month_chart_label">
						<label class="last_month_chart_review_rate_label">{summary_chart_review_rate}</label>
						<label id="year_date_chart_review_rate_value"></label>
					</div>
					<div id="year_date_review_rate" class="year_date_review_rate_chart"></div>
				</div>
				
				<div id="summary_chart_last_month_hit_rate_wrapper">
					<div class="last_month_chart_label">
						<label class="last_month_chart_review_rate_label">{summary_chart_hit_rate}</label>
						<label id="year_date_chart_hit_rate_value"></label>
					</div>
					<div id="year_date_hit_rate" class="year_date_hit_rate_chart"></div>
				</div>
		</div>
			
		</div>
	</div>
	
	
	
	<div id="summary_chart_projected_net_revenue">
		<div class="projected_net_revenue_label_wrapper">
			<label id="summary_chart_projected_net" class="summary_chart_projected_net_label"></label>
		</div>
		
		<div class="projected_net_revenue_revenue_text_wrapper">
			<label class="summary_chart_last_month_label_value">Projected Net Revenue</label>
		</div>
		
		<div class="projected_net_header_amount">
			<label id="projected_net_label_amount"></label>
		</div>
		
		<div style="width: 100%">
			<div class="projected_net_missing_charge_wrapper">
					<label class="summary_chart_last_month_label_value">{summary_chart_gross_missing_charge1}</label>	
			</div>
			<div class="projected_net_missing_charge_amount">
					<label id="projected_net_missing_charge_amount_value"></label>
			</div>
		</div>
	</div>
</div>











